body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    height: 100vh;
    background-color: #f4f4f4;
}

.container {
    display: flex;
    width: 100%;
}

.navigation {
    width: 200px;
    background-color: #333;
    color: white;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    height: 100vh;
    overflow-y: auto;
    position: fixed;
    right: 0;
    top: 0;
}

.navigation ul {
    list-style-type: none;
    padding: 0;
}

.navigation ul li {
    margin: 20px 0;
}

.navigation ul li a {
    color: white;
    text-decoration: none;
}

.navigation ul li a:hover {
    text-decoration: underline;
}

.content {
    flex: 1;
    padding: 20px;
    margin-right: 220px; /* Adjusted for navigation width */
}

.content img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}